:root {
	/* 폰트 사이즈 */
	--size-title-xs: 1.375rem; /* 22px */
	--size-title-sm: 1.5rem; /* 24px */
	--size-title-md: 1.75rem; /* 28px */
	--size-title-lg: 2.125rem; /* 34px */
	--size-title-xl: 3rem; /* 48px */
	--size-title-xxl: 3.75rem; /* 60px */

	--size-text-xs: 0.75rem; /* 12px */
	--size-text-sm: 0.875rem; /* 14px */
	--size-text-md: 1rem; /* 16px */
	--size-text-lg: 1.125rem; /* 18px */
	--size-text-xl: 1.25rem; /* 20px */

	/* 폰트 굵기 */
	--weight-title: 700;
	--weight-text: 400;
	--weight-text-bold: 700;

	/* 색깔 */
	--red: #e50914;
	--red-dark: #b70710;
	--blue: #0071eb;
	--green: #2ede75;
	--black: #010101;
	--gray: #757575;
	--white: #ffffff;

	/* 여백 크기 */
	--spacing-xs: 0.5rem; /* 8px */
	--spacing-sm: 0.75rem; /* 12px */
	--spacing-base: 1rem; /* 16px */
	--spacing-md: 1.25rem; /* 20px */
	--spacing-lg: 1.5rem; /* 24px */
	--spacing-xl: 2rem; /* 32px */
}

/* 공통 폰트 색상 */
.white{
	color: var(--white);
}

.gray{
	color: var(--gray);
}

/* 숨김 콘텐츠 */
.sr-only, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 공통 디바이스 */
body {
	background-color: var(--black);
	/* color: white; */
}

/* 헤더 공통 */
.header {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: var(--spacing-lg);
}
.header__logoBox {
	width: 5rem;
}
.language {
	position: relative;
	display: inline-block;
	width: 7.062rem;
	height: 1.875rem;
	margin-left: auto;
	color: var(--gray);
	border: 1px solid var(--gray);
	border-radius: 2px;
	transition: all 200ms;

}
.language:hover {
	border-color: var(--white);
}
.language .iconBox {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.icon-globe {
	width: 1rem;
	height: 1rem;
	background: url('../assets/Icon/global.svg') no-repeat 0 0;
	left: 0.625rem;
}
.icon-triangle {
	width: 0.687rem;
	height: 0.5rem;
	background: url('../assets/Icon/triangle.svg') no-repeat 0 0;
	right: 0.625rem;
}
.language__select {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: var(--gray);
	background: transparent;
	border: 0;
	appearance: none;
	-webkit-appearance: none;
}

.header__login-link {
	margin-left: var(--spacing-base);
	width: 3.75rem;
	height: 1.875rem;
	color: var(--white);
	background-color: var(--red);
	font-size: var(--size-text-xs);
	font-weight: var(--weight-text-bold);
	padding: var(--spacing-xs) var(--spacing-sm);
	white-space: nowrap;
	border-radius: 2px;
	transition: all 200ms;
}
.header__login-link:hover {
	background-color: var(--red-dark);
}

/* 공통 멤버십 영역 */
.registerMember{
	background-color: navy;
	display: flex;
	flex-flow: column nowrap;
	margin-top: 10rem;
}

.brief{
	letter-spacing: -0.0005em;
}

.brief2, .brief3, .brief4{
	text-align: center;
	word-break: keep-all;
	line-height: 150%;
}

.brief1{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	font-weight: var(--weight-title);
	line-height: 120%;
}

.brief2{
	font-weight: var(--weight-text-bold);
}

.brief4{
	order: 1;
}

.registerMember button{
	background-color: var(--red);
	color: var(--white);
	background-image: url(../assets/Icon/arrow.svg);
	background-repeat: no-repeat;
	border: 0;
}
/*공통 푸터 영역*/
footer {
	border-top: 0.25rem solid #2F2F2F;
}
.footer__title {
	color: #C8C8C8;
	font-weight: var(--weight-title);
	font-size: var(--size-text-xl);
	display: flex;
}
.guides {
	display: flex;
	flex-flow: row wrap;
	
}
.guides__item {
	width: 48%;
	color: #ACACAC;
	font-size: var(--size-text-sm);
	font-weight: var(--weight-text);
}
.address__title {
	color: #ACACAC;
	font-size: var(--spacing-md);
	font-weight: var(--weight-title);
}
.address__item {
	color: #919191;
}

.registerMember input{
	border: 0;
}

/* 공통 서비스 영역 */

.service{
	color: var(--white);
	border-bottom: 4px solid #2f2f2f;
}

.service:last-child{
	border-bottom: none;
}

.info span{
	display: block;
}
	

/* 모바일 */

@media (min-width: 320px) and (max-width: 949px) {
  /* 모바일 헤더 */
  .header {
		background: url('../assets/images/hero-bg-mobile.png') no-repeat 0 0;
	}
	
	/* 모바일 멤버십 영역 */
	.registerMember{
		padding: 1.25rem 1.125rem 1.375rem 1.125rem;
		width: 100%;
		/* min-height: 142vw; */
		/* justify-content: space-evenly; */
		gap: 24px;
	}

	.brief1{
		font-size: var(--size-title-lg);
	}

	.brief2{
		font-size: var(--size-text-lg);
	}

	.brief3, .registerMember input{
		font-size: var(--size-text-sm);
	}

	.brief4{
		font-size: var(--size-text-xs);
	}

	.registerMember button{
		font-size: var(--size-text-small);
	}

	.user-email-wrapper{
		display: flex;
		flex-flow: column nowrap;
		gap: 12px;	
		align-items: center;	
	}

	.user-email{
		width: 15rem;
		border-radius: 1.875rem;
	}

	.user-email input{
		width: 100%;
		padding: 10px 20px;
		border-radius: 30px;
	}

	.registerMember button{
		width: 10rem;
		padding: 10px 20px 10px 0;
		border-radius: 30px;
		background-position: right 12px bottom 50%;
  }
  /* 모바일 서비스 영역 */
	.service{
		text-align: center;
		word-break: keep-all;
		padding: 20px 18px;
	}

	.serviceInfo__container{
		display: flex;
		flex-flow: column nowrap;
		gap: 30px;
		margin-top: 60px;
		margin-bottom: 10px;
	}

	.title{
		font-weight: var(--weight-title);
		font-size: var(--size-title-sm);
	}

	.title__save span{
		display: block;
	}

	.info{
		font-weight: var(--weight-text);
		font-size: var(--size-text-md);
		line-height: 1.875rem;
	}

	.info__tv span{
		display: block;
	}

	.frame{
		width: 21.187rem;
		height: 15.937rem;
		margin-left: auto;
		margin-right: auto;
	}

	.frame img{
		width: 100%;
		height: 100%;
	}
  /*모바일 푸터 영역*/
  footer {
		padding: 2.5rem var(--spacing-md);
	}
	.footer__title {
		flex-flow: column nowrap;
	}
	.guides {
		margin-top: 1.625rem;
		margin-bottom: 3.1875rem;
		gap: 0.625rem;
	}
	.address__title {
		margin-top: 1.875rem;
		margin-bottom: 0.625rem;
	}
	.address__item {
		font-size: var(--size-text-sm);
		font-weight: var(--weight-text);
}
}


/* 데스크탑 */

@media (min-width: 950px) {
  /* 데스크탑 헤더 */
  .header__logoBox {
		width: 8.75rem;
	}
	.language {
		width: 7.062rem;
		height: 2.5rem;
	}
	.header__login-link {
		width: 4.375rem;
		height: 2.5rem;
		font-size: var(--size-text-md);
	}

	/* 데스크탑 멤버십 영역 */
	.registerMember{
		margin: 3.6rem auto;
		padding: 57px 0;
		gap: 28px;
		justify-content: space-between;
	}

	.brief1{
		font-size: var(--size-title-xxl);
	}
	
	.brief2{
		font-size: var(--size-text-xl);
	}

	.brief3, .brief4{
		font-size: var(--size-text-md);
	}
	
	.brief3{
		align-self: center;
	}

	.user-email-wrapper{
		display: flex;
		flex-flow: row nowrap;
		justify-content: center
	}

	.user-email input{
		width: 540px;
		padding: 18px 20px;
	}

	.registerMember button{
		width: 210px;
		padding: 17px 20px 17px 0;
		background-position: right 12px bottom 50%;
	}
  
  /* 데스크탑 서비스 영역 */
	.service{
		word-break: keep-all;
		padding: 3.75rem 12.0625rem 3.75rem 12.1875rem;
		display: flex;
		flex-flow: row;
		flex-basis: content;
		justify-content: space-between;
	}

	.serviceInfo__container{
		display: flex;
		flex-flow: column nowrap;
		gap: var(--spacing-md);
		margin-top: 5.187rem;
		width: 50%;
	}

	.title{
		font-weight: var(--weight-title);
		font-size: var(--size-title-xl);
	}

	.info{
		font-weight: var(--weight-text);
		font-size: var(--size-text-md);
		line-height: var(--spacing-lg);
		width: 24.562rem;
	}

	.service__contentSaveFrame{
		order: -1;
	}
  
  /*데스크탑 푸터 영역*/
  	footer {
		padding: 3.125rem 12.5rem;
	}
	.guides {
		margin-top: 3.125rem;
		margin-bottom: 2.875rem;
		max-width: 62.437rem;
		gap: var(--spacing-base);
	}
	.guides__item {
		width: 23%;
	}
	.address__title {
		margin-top: 2.875rem;
		margin-bottom: var(--spacing-base);
	}
	.address__item {
		font-size: var(--spacing-base);
		font-weight: var(--weight-text-bold);
	}  
}
