:root {
	/* 폰트 사이즈 */
	--size-title-xs: 1.375rem;
	--size-title-sm: 1.5rem;
	--size-title-md: 1.75rem;
	--size-title-lg: 2.125rem;
	--size-title-xl: 3rem;
	--size-title-xxl: 3.75rem;

	--size-text-xs: 0.75rem;
	--size-text-sm: 0.875rem;
	--size-text-md: 1rem;
	--size-text-lg: 1.125rem;
	--size-text-xl: 1.25rem;

	/* 폰트 굵기 */
	--weight-title: 700;
	--weight-text: 400;
	--weight-text-bold: 700;

	/* 색깔 */
	--red: #e50914;
	--blue: #0071eb;
	--green: #2ede75;
	--black: #010101;
	--gray: #757575;
	--white: #ffffff;

	/* 여백 크기 */
	--spacing-xs: 0.5rem; /* 8px */
	--spacing-sm: 0.75rem; /* 12px */
	--spacing-base: 1rem; /* 16px */
	--spacing-md: 1.25rem; /* 20px */
	--spacing-lg: 1.5rem; /* 24px */
	--spacing-xl: 2rem; /* 32px */
}
/* 공통 디바이스 */
body {
	background-color: var(--black);
}
.footer__title {
	color: #C8C8C8;
	font-weight: var(--weight-title);
	font-size: var(--size-text-xl);
	display: flex;
}
.guides {
	display: flex;
	flex-flow: row wrap;
	
}
.guides__item {
	width: 48%;
	color: #ACACAC;
	font-size: var(--size-text-sm);
	font-weight: var(--weight-text);
}
.address__title {
	color: #ACACAC;
	font-size: var(--spacing-md);
	font-weight: var(--weight-title);
}
.address__item {
	color: #919191;
}
/* 모바일 */
@media (min-width: 320px) and (max-width: 768px) {
	footer {
		padding: 40px 20px;
	}
	.footer__title {
		flex-flow: column nowrap;
	}
	.guides {
		margin-top: 1.625rem;
		gap: 0.625rem;
	}
	.language {
		margin: 3.1875rem 0 1.875rem 0;
	}
	.address__title {
		margin-bottom: 0.625rem;
	}
	.address__item {
		font-size: var(--size-text-sm);
		font-weight: var(--weight-text);
	}
}

/* 데스크탑 */
@media (min-width: 768px) {
	footer {
		padding: 50px 200px;
	}
	.guides {
		margin-top: 3.125rem;
		max-width: 62.437rem;
		gap: var(--spacing-base);
	}
	.guides__item {
		width: 23%;
	}
	.language {
		margin: 2.875rem 0;
	}
	.address__title {
		margin-bottom: var(--spacing-base);
	}
	.address__item {
		font-size: var(--spacing-base);
		font-weight: var(--weight-text-bold);
	}
}
