:root {
	/* 폰트 사이즈 */
	--size-title-xs: 1.375rem;
	--size-title-sm: 1.5rem;
	--size-title-md: 1.75rem;
	--size-title-lg: 2.125rem;
	--size-title-xl: 3rem;
	--size-title-xxl: 3.75rem;

	--size-text-xs: 0.75rem;
	--size-text-sm: 0.875rem;
	--size-text-md: 1rem;
	--size-text-lg: 1.125rem;
	--size-text-xl: 1.25rem;

	/* 폰트 굵기 */
	--weight-title: 700;
	--weight-text: 400;
	--weight-text-bold: 700;

	/* 색깔 */
	--red: #e50914;
	--blue: #0071eb;
	--green: #2ede75;
	--black: #010101;
	--gray: #757575;
	--white: #ffffff;

	/* 여백 크기 */
	--spacing-xs: 0.5rem; /* 8px */
	--spacing-sm: 0.75rem; /* 12px */
	--spacing-base: 1rem; /* 16px */
	--spacing-md: 1.25rem; /* 20px */
	--spacing-lg: 1.5rem; /* 24px */
	--spacing-xl: 2rem; /* 32px */
}
/* 공통 디바이스 */
body {
	background-color: var(--black);
}

/* 공통 서비스 영역 */
.sr-only{
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.service{
	color: var(--white);
	border-bottom: 4px solid #2f2f2f;
}

.info span{
	display: block;
}

/* 모바일 */
@media (min-width: 320px) and (max-width: 768px) {
	/* 모바일 서비스 영역 */
	.service{
		text-align: center;
		word-break: keep-all;
		padding: 20px 18px;
	}

	.serviceInfo__container{
		display: flex;
		flex-flow: column nowrap;
		gap: 30px;
		margin-top: 60px;
		margin-bottom: 10px;
	}

	.title{
		font-weight: var(--weight-title);
		font-size: var(--size-title-sm);
	}

	.title__save span{
		display: block;
	}

	.info{
		font-weight: var(--weight-text);
		font-size: var(--size-text-xl);
		line-height: 1.875rem;
	}

	.info__tv span{
		display: block;
	}

	.frame{
		width: 339px;
		height: 255px;
		margin-left: auto;
		margin-right: auto;
	}

	.frame img{
		width: 100%;
		height: 100%;
	}
}

/* 데스크탑 */
@media (min-width: 768px) {
	/* 데스크탑 서비스 영역 */
	.service{
		word-break: keep-all;
		padding: 60px 64px 60px 66px;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		/* min-width: 1200px; */
	}

	.serviceInfo__container{
		display: flex;
		flex-flow: column nowrap;
		gap: 20px;
		margin-top: 83px;
	}

	.title{
		font-weight: var(--weight-title);
		font-size: var(--size-title-xl);
	}
		
	.title__save{
		width: 580px;
	}
		
	.title__watch{
		width: 450px;
	}

	.info{
		font-weight: var(--weight-text);
		font-size: var(--size-text-md);
		line-height: var(--spacing-lg);
		width: 393px;
	}

	.info__tv{
		width: 350px;
	}

	.frame{
		width: 30rem;
		height: 22.5rem;
	}

	.frame img{
		width: 100%;
		height: 100%;
	}

	.service__contentSaveFrame{
		order: -1;
	}

}
